<a href="/user/logout" class="float" title="signout" style="
    position:fixed;
	width:60px;
	height:60px;
	top:55px;
	right:40px;
	background-color:rgb(223, 30, 23);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
">
<i class="fas fa-sign-out-alt" style="margin-top:22px"></i></a>

<a href="/employee" class="float" style="
    position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#343A40;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
">
<i class="fa fa-plus my-float" style="margin-top:22px;"></i>
</a>
<div class="container">

  {{#if currentRoute}}
    <h3 style="text-align:center">Our Company Employees</h3>
  {{/if}}

  {{#if engineeringRoute}}
      <h3 style="text-align:center">Engineering Department</h3>
  {{/if}}

  {{#if manufactureRoute}}
      <h3 style="text-align:center">Manufacturing Department</h3>
  {{/if}}

  {{#if salesRoute}}
      <h3 style="text-align:center">Sales & Marketing Department</h3>
  {{/if}}

  {{#if itRoute}}
      <h3 style="text-align:center">IT Department</h3>
  {{/if}}

  {{#if researchRoute}}
      <h3 style="text-align:center">Research & Development Department</h3>
  {{/if}}

  {{#if operationsRoute}}
      <h3 style="text-align:center">Operations Department</h3>
  {{/if}}

<div class="row" style="margin:1rem">
{{#each employees}}
<div class="card mb-2 w-25 shadow" style="margin:1rem; margin-right:2rem">
  <img src="../images/user1.png" class="card-img-top"  alt={{this.name}}>
  <div class="card-body">
        <h2 class="card-title">{{this.name}}</h2>
        <p class="h6">Email: {{this.email}}</p>
        <p class="h6">Mobile: {{this.mobile}}</p>
        <p class="h6">Salary: {{this.salary}}$</p>
        <p class="h6">Address: {{this.address}}</p>
        <p class="h6">Department: {{this.department}}</p>

        <p class="card-text"><small class="text-muted">
            <a href="/employee/{{this._id}}" class="btn btn-secondary "><i class="fas fa-edit"></i></a>
            <a href="/employee/delete/{{this._id}} " onclick="return confirm('Are you sure to delete this Employee ?');" class="btn btn-danger"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
        </small></p>
  </div>
</div>
{{/each}}
</div>
</div>